.DS_Store
Carthage/*
DerivedData/*
*.xcscheme
*.xcuserstate
Netiquette.xcodeproj/xcuserdata/*
Netiquette.xcodeproj/project.xcworkspace/xcuserdata/*
Netiquette.xcodeproj/project.xcworkspace/xcuserdata/patrick.xcuserdatad/UserInterfaceState.xcuserstate
